<!DOCTYPE HTML>
<html>
	<head>
		<!-- META TAGS -->
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta property="og:image" content="http://i.imgur.com/yTJ7Y6o.png" />

		<meta property="og:image:width" content="40" />
		<meta property="og:image:height" content="32" />

		<!-- STYLES -->
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<link rel="icon" href="favicon.ico">

		<script src="bower_components/angular/angular.js"></script>
		<script src="javascript/MailProviders.js"></script>
		<script src="javascript/CheckInboxText.js"></script>
		<script src="javascript/app.js"></script>


		<script src="bower_components/jquery/dist/jquery.js"></script>

		<script src="bower_components/jquery.countdown/dist/jquery.countdown.js"></script>

		<script src="bower_components/momentjs/moment.js"></script>
		<script src="bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>


		<!-- SITE TITLE -->
		<title>Ether Camp</title>
	</head>


	<body  ng-app="hackEtherCampApp"  ng-controller="generalController">

		<!-- OVERLAY -->
		<div class="overlay">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<h1>&lt; ether.camp &gt;</h1>

					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 no-padding">
						<h2>We Build Ethereum</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<p>


						</p>
						<p class="gray-text">
							<a href="https://live.ether.camp" style="color: white" >
								to fix our finance reality   </a>
						</p>
						<p><strong> <div id="due-date">  ---  </div>  </strong></p>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<form name="signup" novalidate>

							<p class="sm">Join Our Slack</p>

							<div id="responsePanel" style="display:none; height: 83px;">
								<div>
									<div class="rounded-notification">
										<span id="inviteResponse" style="padding-top: 20px;" ng-bind-html="responseText"></span>
									</div>
								</div>
								<br id="lineBreak" />
							</div>

							<div id="inputs">
								<input id="emailField" type="text" name="email" value="" class="form-control"
									   ng-model="user.email"
									   placeholder="my@email.com"
									   required>
								<input type="submit" name="submit" value="Invite Me" class="submit"
									   ng-click="signup.$valid && invite(user)">
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="overlay-black">
			<div class="container-fluid">
				<div class="col-xs-12 col-md-6">
					<div class="row">
						<div class="col-xs-12">
							<div class="hackathon-desc headline">Our virtual hackathon is ongoing.</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="hackathon-desc">It's the place to get to know all the newest and most recent and exiting development in the crypto world.</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="hackathon-links">
						<a href="https://hack.ether.camp/feed"><button class="button-yellow">Event feed</button></a>
						<a href="https://hack.ether.camp/scoreboard"><button class="button-yellow">Scoreboard</button></a>
						<a href="https://hack.ether.camp/showcase"><button class="button-yellow">Showcase</button></a>
					</div>
				</div>
			</div>
		</div>

		<script src="javascript/main.js"></script>


		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
						(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-69144928-1', 'auto');
			ga('send', 'pageview');

		</script>


	</body>
</html>
